<!DOCTYPE html>
<!--[if IE 7]>    <html class="ie ie7">   <![endif]-->
<!--[if IE 8]>    <html class="ie ie8">   <![endif]-->
<!--[if IE 9]>    <html class="ie ie9">   <![endif]-->
<!--[if gt IE 9]><!--> <html class="ie"> <!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nc-static</title>
    <link rel="stylesheet" href="css/__main.css">
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

    <div class="layout">
        <div class="layout__content">
             <% //<% include blocks/block-name.ejs %>
        </div>

        <div class="layout__footer">
        </div>
    </div>

    <script src="js/__main.js"></script>

</body>
</html>
